body
{
 /* background-color: #ededed; #8c8c8c; #f5f5dc #8b8989 #8b7b8b #8b7765 #8b8378 #7ac5cd #8b8878 #c06014 #00303f*/
 background-color: #F4F4F4;
}
#header
{
  /*background-color: #c06014; */
  height: 130px;
 
 /* border-bottom: 1px solid #5e5e5e; */
}
#desc
{
  position: relative;
  color: #7a9d96;
  font-size: 18px;
  font-family: 'Sanchez', serif;
  text-shadow: 1px 1px 1px #ededed;
  display: inline-block;
  float: right;
}
#title
{
  position: relative;
  font-family: 'Scope One', serif;
  /* color: 00303f; */
  color: #535353;
  font-size: 50px;
  text-shadow:1px 1px 1px #7a9d96;
  display: inline-block;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #desc {width: 100%; float: none;}
}
