body
{
  background-color: #ededed;
}
#title 
{
  height: 130px;
  border-bottom: 1px solid #5e5e5e;
}
.title
{
  position: relative;
  top: 50px;
  font-family: 'Sanchez', serif;
  color: #000000;
  font-size: 32px;
}
